[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.6"
django-tables2 = "==2.6.0"
djangorestframework = "==3.14.0"

[dev-packages]
coverage = "*"
ruff = "*"
black = "*"
djlint = "*"

[requires]
python_version = "3"
